<div class="engloba">

    <div class="menu-lateral">

        <div class="dados-cliente">
            <h1>Bem-vindo(a), <b>Admin</b></h1>
            <p>{{usuarioLogado!.email}}</p>
        </div>

        <div class="opcoes-menu" [routerLink]="['/home-admin']">
            <p>• Dashboard</p>
        </div>

        <div class="opcoes-menu" [routerLink]="['/gerentes']">
            <p>• Gerentes</p>
        </div>

        <div class="button-wrapper-logout">
            <button mat-raised-button
                    class="button-remove"
                    matTooltip="Realizar Logout"
                    matTooltipPosition="right"
                    (click)="logout()">
                <mat-icon>logout</mat-icon> Sair
            </button>
        </div>

    </div>

    <div class="info-wrapper">
        <h1>Seus Gerentes</h1>

        <div class="divTabela">
            <table mat-table [dataSource]="dataSource" matSort matSortActive="nome" matSortDirection="asc">

                <!-- CPF Column -->
                <ng-container matColumnDef="cpf">
                    <th mat-header-cell *matHeaderCellDef> CPF </th>
                    <td mat-cell *matCellDef="let gerente"> {{gerente.cpf | mask:"000.000.000-00"}} </td>
                </ng-container>

                <!-- Nome Column -->
                <ng-container matColumnDef="nome">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome Completo </th>
                    <td mat-cell *matCellDef="let gerente"> {{gerente.nome}} </td>
                </ng-container>

                <!-- Email Column -->
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> E-mail </th>
                    <td mat-cell *matCellDef="let gerente"> {{gerente.email}} </td>
                </ng-container>

                <!-- Detalhes Column -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>
                        <div class="button-wrapper">
                            <button mat-raised-button [routerLink]="['/gerentes/inserir']">
                                <mat-icon>group_add</mat-icon> Cadastrar
                            </button>
                        </div>
                    </th>
                    <td mat-cell *matCellDef="let gerente">
                        <div class="button-wrapper">
                            <button class="button-edit" title="Editar" mat-raised-button
                                [routerLink]="['/gerentes/editar', gerente.id]">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button class="button-remove" title="Remover" mat-raised-button (click)="remover(gerente)">
                                <mat-icon>block</mat-icon>
                            </button>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <h2 class="text-center" *ngIf="!listaGerentes?.length">Nenhum gerente cadastrado.</h2>
            <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons>
            </mat-paginator>
        </div>
    </div>
    
</div>