<div class="engloba">

    <div class="menu-lateral">

        <div class="dados-cliente">
            <h1>Bem-vindo(a), <b>{{gerenteLogado.nome! }}</b></h1>
            <p>{{gerenteLogado.email! }}</p>
            <p>{{gerenteLogado.cpf! | mask: "000.000.000-00"}}</p>
        </div>

        <div class="opcoes-menu" [routerLink]="['/gerente']">
            <p>• Pedidos de Autocadastro</p>
        </div>

        <div class="opcoes-menu" [routerLink]="['/gerente/listar-clientes']">
            <p>• Clientes</p>
        </div>

        <div class="opcoes-menu" [routerLink]="['/gerente/listar-melhores-clientes']">
            <p>• Melhores Clientes</p>
        </div>

        <div class="opcoes-menu" [routerLink]="['/gerente/consultar-cliente']">
            <p>• Consultar Cliente</p>
        </div>

        <div class="button-wrapper-logout">
            <button mat-raised-button
                    class="button-remove"
                    matTooltip="Realizar Logout"
                    matTooltipPosition="right"
                    (click)="logout()">
                <mat-icon>logout</mat-icon> Sair
            </button>
        </div>

    </div>

    <div class="info-wrapper">
        <h1>Pedidos de Autocadastro</h1>

        <div class="divTabela">
            <table mat-table [dataSource]="dataSource" matSort>

                <!-- CPF Column -->
                <ng-container matColumnDef="cpf">
                    <th mat-header-cell *matHeaderCellDef> CPF </th>
                    <td mat-cell *matCellDef="let element"> {{element.cpf! | mask: '000.000.000-00'}} </td>
                </ng-container>

                <!-- Nome Column -->
                <ng-container matColumnDef="nome">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome Completo </th>
                    <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
                </ng-container>

                <!-- Salário Column -->
                <ng-container matColumnDef="salario">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Salário </th>
                    <td mat-cell *matCellDef="let element"> {{element.salario | currency}} </td>
                </ng-container>

                <!-- Aceitar / Recusar Column -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Aprovar / Recusar </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="button-wrapper">
                            <button mat-raised-button  
                                    matTooltip="Aprovar" 
                                    matTooltipPosition="left"
                                    class="button-aprovar"
                                    (click)="aprovarPedido(element)"
                            >
                                <mat-icon>done</mat-icon>
                            </button>
                            <button mat-raised-button
                                    matTooltip="Reprovar"
                                    matTooltipPosition="right"
                                    class="button-recusar"
                                    (click)="recusarPedido(element)"
                            >
                                <mat-icon>close</mat-icon>
                            </button>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <h2 class="text-center" *ngIf="!pedidosAutocadastro?.length">Nenhum pedido de autocadastrado em aberto.</h2>

            <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons
                aria-label="Selecione a página de pedidos de autocadastro">
            </mat-paginator>
        </div>

    </div>

</div>